.attachmentLabel {
    position: relative;
    padding-left: 1.75rem;
    display: inline-block;
    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        > svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}
