.box {
    &--s {
        margin-top: 0.25rem !important;
    }

    &--m {
        margin-top: 0.5rem !important;
    }

    &--l {
        margin-top: 1rem !important;
    }

    &--xl {
        margin-top: 2rem !important;
    }

    &--xxl {
        margin-top: 3rem !important;
    }

    &--xxxl {
        margin-top: 4rem !important;
    }
    &--bottom-s {
        padding-bottom: 0.25rem;
    }

    &--bottom-m {
        padding-bottom: 0.5rem;
    }

    &--bottom-l {
        padding-bottom: 1rem;
    }

    &--bottom-xl {
        padding-bottom: 2rem;
    }

    &--bottom-xxl {
        padding-bottom: 3rem;
    }

    &--bottom-xxxl {
        padding-bottom: 4rem;
    }

    &--textAlignCenter {
        text-align: center;
    }
}
