.process {
    --process-circle-size: 1.75rem;
    --process-border-width: 2px;
    --process-line-length: 1rem;
    --process-line-color: var(--a-deepblue-800);
    font-weight: 600;
    line-height: 1;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.process__item {
    display: grid;
    grid-template-rows:
        [line-1] auto [step-start] var(--process-circle-size)
        [line-2 step-end] auto;
    grid-template-columns: var(--process-circle-size) auto;
    justify-items: flex-start;
    gap: 0.5rem;
}

.process__line {
    background-color: var(--process-line-color);
    width: var(--process-border-width);
    min-height: var(--process-line-length);
    height: 100%;
    justify-self: center;
    grid-column: 1;
}

.process__line--1 {
    grid-row: line-1;
    display: none;
}

.process__line--2 {
    grid-row: line-2;
}

:where(.process__item:last-of-type) .process__line--2 {
    display: none;
}

.process__step {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: [circle] var(--process-circle-size) [content] auto;
    gap: var(--a-spacing-2);
    justify-content: flex-start;
    text-decoration: none;
    padding: var(--process-border-width);
    margin: calc(var(--process-border-width) * -1) calc(var(--process-border-width) * -1) 1.75rem;
}

.process__circle {
    grid-column: circle;
    display: inline-grid;
    place-items: center;
    flex-shrink: 0;
    width: var(--process-circle-size);
    height: var(--process-circle-size);
    border-radius: var(--a-border-radius-full);
    background-color: var(--process-line-color);
    color: white;
    line-height: 1;
}

.process__content {
    min-width: fit-content;
    line-height: 1.5;
    grid-column: content;
    padding-top: 0.035rem;
}
