.soknadHeader {
    box-shadow: 0 -4px 0 var(--a-deepblue-400) inset;

    &__content {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        padding-top: 0.75rem;
        // @media (max-width: 768px) {
        //     padding-left: 1rem;
        //     padding-right: 1rem;
        // }
        // @media (max-width: 400px) {
        //     padding-left: 0.5rem;
        //     padding-right: 0.5rem;
        // }
    }
    &__text {
        width: 100%;
        max-width: 63.5rem;
    }
    &__subtitle {
        margin-top: 1rem;
    }
}
