.sif--modal__content {
    @media (max-width: 399px) {
        padding: 0.5rem;
    }
    @media (max-width: 599px) {
        padding: 1rem;
    }
    @media (min-width: 600px) {
        padding: var(--ax-space-24) var(--ax-space-32) var(--ax-space-32) var(--ax-space-32);
    }
    ul,
    ol {
        padding-left: var(--ax-space-24);
    }
}
