version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 30
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    groups:
      designsystemet:
        patterns:
          - "@navikt/ds-*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
      sentry:
        patterns:
          - "@sentry*"
      typescript-eslint:
        patterns:
          - "@typescript-eslint*"
      storybook:
        patterns:
          - "@storybook/*"
        exclude-patterns:
          - "@storybook/storybook-deployer"
          - "@storybook/testing-react"
          - "@storybook/testing-library"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    groups:
      github:
        patterns:
          - "*"
