version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 30
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    groups:
      designsystemet:
        patterns:
          - "@navikt/ds-*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
      sentry:
        patterns:
          - "@sentry*"
      typescript-eslint:
        patterns:
          - "@typescript-eslint*"
      storybook:
        patterns:
          - "@storybook/*"
        exclude-patterns:
          - "@storybook/storybook-deployer"
          - "@storybook/testing-react"
          - "@storybook/testing-library"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      github:
        patterns:
          - "*"

  - package-ecosystem: docker
    directories:
      - "/apps/dine-pleiepenger"
      - "/apps/ekstra-omsorgsdager-andre-forelder-ikke-tilsyn"
      - "/apps/endringsmelding-pleiepenger"
      - "/apps/omsorgsdager-aleneomsorg-dialog"
      - "/apps/omsorgsdager-kalkulator"
      - "/apps/omsorgspengerutbetaling-arbeidstaker-soknad"
      - "/apps/omsorgspengerutbetaling-soknad"
      - "/apps/omsorgspengesoknad"
      - "/apps/opplaringspenger-soknad"
      - "/apps/pleiepenger-i-livets-sluttfase-soknad"
      - "/apps/pleiepenger-sykt-barn"
      - "/apps/sif-ettersending"
      - "/apps/ungdomsytelse-deltaker"
      - "/apps-intern/ungdomsytelse-veileder"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      docker:
        patterns:
          - "*"
