.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
.turbo
storybook-static
coverage

server/dist
public/dist
out

packages/**/*/coverage
packages/**/*/lib
**/cypress/videos/**/*
**/cypress/screenshots/**/*