.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
.turbo
.vscode
storybook-static
coverage
index-decorated.html
.idea

server/dist
public/dist
out

# next.js
/.next/
/out/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

packages/**/*/coverage
packages/**/*/lib

playwright-report
test-results

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json
*storybook.log