@navikt:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:always-auth=true

strict-peer-dependencies=false
auto-install-peers=true
ignore-scripts=true
