.endreArbeidstidModal {
    min-width: 40rem;
    max-width: 45rem;
}
.endreArbeidstidModal__noFocusOutline:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
}

@media (max-width: 600px) {
    .endreArbeidstidModal {
        min-width: initial;
    }
}
