// src/app/utils/formValuesToSøknadsdata.ts
// Tilpass: legg til case per steg etter hvert
import { SøknadStepId } from '@app/types/SoknadStepId';

export const formValuesToSøknadsdata = (
    stepId: string,
    formValues: Record<string, unknown>,
): Record<string, unknown> | undefined => {
    switch (stepId) {
        case SøknadStepId.MITT_STEG:
            return undefined; // TODO: implementer
        default:
            return undefined;
    }
};
