// src/app/types/Soknadsdata.ts
// Tilpass: legg til per-steg typer, ingen BaseSøknadsdata
import { SøknadStepId } from './SoknadStepId';

export type MittStegSøknadsdata = {
    // TODO: legg til felter
};

export type Søknadsdata = {
    harForståttRettigheterOgPlikter?: boolean;
    [SøknadStepId.MITT_STEG]?: MittStegSøknadsdata;
    [SøknadStepId.OPPSUMMERING]?: never;
};
