.pictureScanningGuide {
    svg {
        pointer-events: none;
    }
    &__title {
        padding-bottom: 1rem;
    }
    &__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    &__cell {
        flex: 1 1 50%;
        height: auto;
        padding: 0.5rem 0.5rem 1.5rem 0.5rem;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        @media screen and (min-width: 768px) {
            max-width: 25%;
        }
        &__heading {
            display: flex;
        }
    }
}
