@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);
@import '@navikt/sif-common-core-ds/src/styles/sif-ds-theme.css' layer(components);
@import 'react-loading-skeleton/dist/skeleton.css' layer(utilities);

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

.ungDefinitionList {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.75rem;
    dt {
        margin: 0;
    }
    dd {
        margin: 0;
        font-weight: bolder;
        word-wrap: break-word; /* Bryt lange ord */
    }
}

@media screen and (max-width: 500px) {
    .ungDefinitionList {
        grid-template-columns: 1fr;
        line-height: 1.5rem;
        dd {
            margin-bottom: 0.75rem;
        }
    }
}

:root {
    --ax-bg-warning-moderateA: #ffebc7 !important;
    --ax-bg-neutral-moderateA: #e3e5e7 !important;
}

.aksel-tag--warning {
    background-color: #ffebc7 !important;
}
.aksel-tag--error {
    background-color: var(--ax-bg-danger-moderate) !important;
}

.drawer-dialog {
    max-width: 95%;
    right: 1rem;
    /* bottom: -8rem; */
    left: auto;
    top: 0;
    height: 100%;
}

.drawer-dialog-narrow {
    width: 40rem;
}
.drawer-dialog-wide {
    width: 60rem;
}

.articles {
    ol {
        padding-left: 1.5rem;
    }
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }
    li > p {
        margin-bottom: 1rem;
    }
    .aksel-body-long,
    .aksel-body-short {
        color: var(--ax-text-neutral);
    }
    hr {
        margin-bottom: 2rem;
    }
}
.article h1 {
    font-size: 1.4rem;
}

.demoMode {
    position: relative;
}

.demoMode::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg transform='rotate(-45 100 100)'%3E%3Ctext x='100' y='100' text-anchor='middle' dominant-baseline='middle' font-family='Arial, sans-serif' font-size='24' font-weight='bold' fill='%23ff0000' fill-opacity='0.07'%3EDEMO%3C/text%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px 200px;
    pointer-events: none;
    z-index: -1;
}
