.banner {
    background-color: #c1b5d0;
    padding: 1rem;
    &--small {
        min-height: 3.5rem;
        @media screen and (max-width: 576px) {
            min-height: 5.5rem;
        }
    }
    &--large {
        min-height: 8rem;
    }
    &--xlarge {
        min-height: 12rem;
    }

    @media screen and (max-width: 576px) {
        padding: 0.5rem;
    }
}
