.tidFasteUkedagerInput {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
}
.tidFasteUkedagerInput > * {
    padding: 0.25rem 0.5rem;
    max-width: 8rem;
    margin-bottom: 1rem;
}
.tidFasteUkedagerInput > *:last-child {
    margin-bottom: 0;
}
.tidFasteUkedagerInput--withHiddenDays > * {
    flex: inherit;
}
.tidFasteUkedagerInput .skjemaelement.timeInput__hours {
    margin-bottom: 0;
}
.tidFasteUkedagerInput .skjemaelement.timeInput__minutes {
    margin-bottom: 0;
}
