.arbeidsaktivitetBlockHeader {
    display: flex;
    align-items: flex-start;
    &__icon {
        font-size: var(--ax-font-size-heading-medium);
        line-height: 2.3rem;
        flex-grow: 0;
        min-width: 2.5rem;
    }
    &__content {
        flex-grow: 1;
    }
}
