.arbeidsaktivitetBlockHeader {
    display: flex;
    align-items: flex-start;
    &__icon {
        font-size: 1.75rem;
        flex-grow: 0;
        min-width: 2.5rem;
    }
    &__content {
        flex-grow: 1;
    }
}
