.capitalize::first-letter {
    text-transform: uppercase;
}

.durationWeekdaysWeek {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    &__weekNumber {
        width: 4rem;
        flex-grow: 1;
        max-width: 4rem;
    }
    &__daysWrapper {
        flex-grow: 2;
    }
    &__weekNumber {
        padding-top: 2.25rem;
        font-size: 1rem;
    }
    &__days {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    &__day {
        width: 6rem;
        &--disabled {
            .timeInput__label {
                display: none;
            }
        }
    }
    .timeInput__label {
        font-size: 90%;
    }
    .timeInput {
        margin-top: 0.125rem !important;
    }
    &__dayName {
        display: inline-block;
        text-overflow: ellipsis;
        &::first-letter {
            font-size: 0.9rem;
            text-transform: capitalize;
        }
    }
    &__dayLegend {
        font-size: 1rem !important;
        font-weight: normal;
        &--disabled {
            text-decoration: line-through;
        }
    }
}

@media screen and (max-width: 800px) {
    .durationWeekdaysWeek {
        display: block;
        margin-bottom: 1rem;
        &__weekNumber {
            max-width: initial;
            margin-bottom: 0.5rem;
            padding-top: 1rem;
        }
    }
}
