.oppgaveLinkCard {
    border-radius: 0.5rem;
}

.oppgaveLinkCard--avbrutt {
    --ax-bg-raised: var(--ax-bg-sunken);
    border-style: dashed;
    border-width: 2px;
    border: 2px dashed var(--ax-border-neutral-subtle);
}

.oppgaveLinkCard--avbrutt:hover {
    border-color: var(--ax-border-accent);
}
