.block {
    &--s {
        margin-top: var(--a-spacing-1);
    }

    &--m {
        margin-top: var(--a-spacing-2);
    }

    &--l {
        margin-top: var(--a-spacing-4);
    }

    &--xl {
        margin-top: var(--a-spacing-8);
    }

    &--xxl {
        margin-top: var(--a-spacing-12);
    }

    &--xxxl {
        margin-top: var(--a-spacing-16);
    }
    &--bottom-s {
        padding-bottom: var(--a-spacing-1);
    }

    &--bottom-m {
        padding-bottom: var(--a-spacing-2);
    }

    &--bottom-l {
        padding-bottom: var(--a-spacing-4);
    }

    &--bottom-xl {
        padding-bottom: var(--a-spacing-8);
    }

    &--bottom-xxl {
        padding-bottom: var(--a-spacing-12);
    }

    &--bottom-xxxl {
        padding-bottom: var(--a-spacing-16);
    }

    &--textAlignCenter {
        text-align: center;
    }
}
