.block {
    &--s {
        margin-top: var(--ax-space-4);
    }

    &--m {
        margin-top: var(--ax-space-8);
    }

    &--l {
        margin-top: var(--ax-space-16);
    }

    &--xl {
        margin-top: var(--ax-space-32);
    }

    &--xxl {
        margin-top: var(--ax-space-48);
    }

    &--xxxl {
        margin-top: var(--ax-space-64);
    }
    &--bottom-s {
        padding-bottom: var(--ax-space-4);
    }

    &--bottom-m {
        padding-bottom: var(--ax-space-8);
    }

    &--bottom-l {
        padding-bottom: var(--ax-space-16);
    }

    &--bottom-xl {
        padding-bottom: var(--ax-space-32);
    }

    &--bottom-xxl {
        padding-bottom: var(--ax-space-48);
    }

    &--bottom-xxxl {
        padding-bottom: var(--ax-space-64);
    }

    &--textAlignCenter {
        text-align: center;
    }
}
