.endretArbeidstid__faktisk {
    font-weight: 700;
}
.endretArbeidstid__opprinnelig {
    text-decoration: line-through;
    opacity: 0.8;
}
.endretArbeidstid__timer,
.endretArbeidstid__prosent {
    white-space: nowrap;
}

.arbeidstidUkeListe {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--ac-table-row-border, var(--a-border-default));
    border-top-width: 2px;
    li {
        padding: var(--a-spacing-4) var(--a-spacing-3);
        border-bottom: 1px solid var(--ac-table-row-border, var(--a-border-default));
    }
    .endretArbeidstid__faktisk {
        .endretArbeidstid__timer {
            font-size: 1.25rem;
        }
    }
}

.arbeidstidUkeTabell {
    &__ukenummer {
        width: 3ch;
    }
    &__periode {
        width: 35%;
    }
    &__endre {
        width: 5ch;
        text-align: right;
        button {
            margin-top: -0.3rem;
            margin-bottom: -0.3rem;
        }
    }
}

.arbeidsukeTidsrom {
    width: 100%;
    display: flex;
    &__tekst {
        flex-grow: 2;
    }
    &__info {
        font-size: 1.4rem;
    }
}

.arbeidstidUke {
    &--velgUker {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &--valgt {
        background-color: var(--ac-table-row-selected, var(--a-surface-action-subtle));
    }
    &__velgUke {
        min-width: 2.5rem;
        flex-grow: 0;
        margin-top: -0.75rem;
        align-self: flex-start;
    }
    &__info {
        flex-grow: 1;
    }
    &__endre {
        flex-grow: 0;
    }
}

.arbeidstidInfoListe {
    margin-bottom: 0.5rem;
    p {
        display: flex;
        width: 100%;
        margin: 0 0 0.125rem 0;
    }
    &__label {
        width: 50%;
    }
}

.arbeidstidUkeListeWrapper  {
    position: relative;
    .arbeidstidUkeFooter {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0%) 0px, rgba(255, 255, 255, 1) 0.5rem);
        padding: 0.25rem 0 0.25rem 0;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        button {
            width: 100%;
        }
    }
}
