.endretArbeidstid__faktisk {
    font-weight: 700;
}
.endretArbeidstid__opprinnelig {
    text-decoration: line-through;
    opacity: 0.8;
}
.arbeidstidUkeTabell__ikkeSøktForPeriode {
    &:hover {
        background-color: initial !important;
    }
}
