.soknadHeader {
    box-shadow: 0 -4px 0 var(--navds-global-color-purple-500) inset;

    &__content {
        max-width: 704px;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        padding-bottom: 1.25rem;
        @media (max-width: 768px) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @media (max-width: 400px) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    &__text {
        width: 100%;
        max-width: 63.5rem;
    }
    &__subtitle {
        margin-top: 1rem;
    }
}
