.summaryList {
    > li {
        padding-bottom: 0.5rem;
    }
}

/** Variant blocks */
.navds-list__item.sif_navds-form-summary-listItem--blocks {
    background-color: var(--ax-bg-neutral-soft);
    border-radius: var(--ax-radius-8);
    padding: var(--ax-space-8) var(--ax-space-12) !important;
    list-style-position: inside;
    gap: 0 !important;
}

.navds-list__item.sif_navds-form-summary-listItem--blocks .navds-form-summary__answers {
    padding: 0;
    margin: 0;
}

.navds-list .sif_navds-form-summary-listItem--blocks .navds-list__item-marker--bullet {
    display: none !important;
}

/** Variant bullet-blocks */
.navds-list__item.sif_navds-form-summary-listItem--bullet-blocks:not(:last-child) {
    margin-bottom: var(--ax-space-24);
}
