.inntektsmeldingLinkCard {
    border-radius: 0.5rem !important;
}

.inntektsmeldingLinkCard--ikkeIBruk {
    --ax-bg-raised: var(--ax-bg-neutral-soft);
}

.inntektsmeldingLinkCard--ikkeRelevant {
    --ax-bg-raised: var(--ax-bg-warning-moderate);
}

.inntektsmeldingLinkCard--ikkeIBruk:hover {
    border-color: var(--ax-border-accent) !important;
}
