.stepFooter {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2.5rem;

    &__horizontalDivider {
        width: 100%;
        border-top: 1px dashed #c6c2bf;
        padding: 1rem 0 0.5rem 0;
        margin-left: 0;
        margin-right: 0;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        > * {
            margin-right: 1.5rem;
        }
    }

    @media screen and (max-width: 20rem) {
        &__actions {
            flex-direction: column;
            align-items: flex-start;
        }
        &__divider,
        button {
            margin-bottom: 0.5rem;
        }
    }
}
