@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.contentWrapper {
    margin-left: calc((100vw - 100%) / -2);
    margin-right: calc((100vw - 100%) / -2);
    padding: 2rem calc((100vw - 100%) / 2);
    background-color: green;
}

.navds-expansioncard__header,
.navds-expansioncard__content {
    border: none;
}
