.sif-guidePanel {
    &--compact {
        &:not(.aksel-guide-panel--poster) {
            padding-left: 0;
            .aksel-guide {
                transform: translateX(1rem);
            }
            .aksel-guide-panel__content {
                padding-left: 7rem;
            }
        }
    }
    .aksel-guide-panel__content-inner > p,
    .aksel-guide-panel__content-inner > .aksel-body-long > p,
    .aksel-guide-panel__content-inner > .aksel-body-short > p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
