.sif-guidePanel {
    &--compact {
        &:not(.navds-guide-panel--poster) {
            padding-left: 0;
            .navds-guide {
                transform: translateX(1rem);
            }
            .navds-guide-panel__content {
                padding-left: 7rem;
            }
        }
    }
    .navds-guide-panel__content > p,
    .navds-guide-panel__content > .navds-body-long > p,
    .navds-guide-panel__content > .navds-body-short > p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
