.lovbestemtFerieModal {
    min-width: 30rem;
    max-width: 35rem;
}
.lovbestemtFerieModal__noFocusOutline:focus {
    outline: none;
    box-shadow: var(--a-shadow-focus);
}

@media (max-width: 600px) {
    .lovbestemtFerieModal {
        min-width: initial;
    }
}
