/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.navds-form-summary__answer--compact {
    padding-bottom: 0.25rem !important;
    margin-bottom: 0.25rem !important;
    border: none !important;
}
.navds-form-summary__answers .navds-form-summary__answers {
    background-color: var(--a-surface-subtle);
}
.navds-form-summary__answer--compact dt {
    display: inline-block;
    padding-right: 0.5rem;
}
.navds-form-summary__answer--compact dt:after {
    content: ':';
}
.navds-form-summary__answer--compact dd {
    display: inline-block;
}
.navds-form-summary__answer--compact dd.fullWidth {
    display: block;
}
