/* @tailwind base; */

.mb-3 {
  margin-bottom: 0.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.min-h-\[3\.5rem\] {
  min-height: 3.5rem;
}

.min-h-\[8rem\] {
  min-height: 8rem;
}

.min-h-\[12rem\] {
  min-height: 12rem;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-purple-200 {
  background-color: rgba(192, 178, 210, 1);
}

.p-1 {
  padding: 0.25rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.875rem;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.sif-ds-theme {
  --navds-guide-panel-color-border: var(--navds-global-color-purple-300);
  --navds-guide-panel-color-illustration-background: var(--navds-global-color-purple-200);
}

/** Skal flyttes/endres: */

.languageToggle__wrapper {
  min-width: 15rem;
}

@media (min-width: 640px) {
  .sm\:p-2 {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .md\:p-4 {
    padding: 1rem;
  }
}
