body.sif-ds-theme {
    --ac-guide-panel-border: var(--a-deepblue-400);
    --ac-guide-panel-illustration-bg: var(--a-deepblue-100);
}

.soknadHeader,
.decorator-utils-container {
    background-color: white;
}

/** Skal flyttes/endres: */
.languageToggle__wrapper {
    min-width: 15rem;
}

.navds-fieldset__description > .expandableInfo:first-child {
    margin-top: 1rem;
}
.navds-form-summary__answers .navds-form-summary__answers {
    background-color: var(--a-surface-subtle);
}
.navds-form-summary__answers--compact .navds-form-summary__answer {
    padding-bottom: 0.125rem !important;
    margin-bottom: 0.125rem !important;
    border: none !important;
}
.navds-form-summary__answers--compact .navds-form-summary__answer dt {
    display: inline-block;
    padding-right: 0.5rem;
}
.navds-form-summary__answers--compact .navds-form-summary__answer dt:after {
    content: ':';
}
.navds-form-summary__answers--compact .navds-form-summary__answer dd {
    display: inline-block;
}
.navds-form-summary__answers--compact .navds-form-summary__answer dd.fullWidth {
    display: block;
}
