body.sif-ds-theme {
    --ac-guide-panel-border: var(--a-deepblue-400);
    --ac-guide-panel-illustration-bg: var(--a-deepblue-100);
}

.soknadHeader,
.decorator-utils-container {
    background-color: white;
}

/** Skal flyttes/endres: */
.languageToggle__wrapper {
    min-width: 15rem;
}

.navds-fieldset__description > .expandableInfo:first-child {
    margin-top: 1rem;
}

.navds-form-summary__answer--compact {
    padding-bottom: 0.125rem !important;
    margin-bottom: 0.125rem !important;
    border: none !important;
}
.navds-form-summary__answers .navds-form-summary__answers {
    background-color: var(--a-surface-subtle);
}
.navds-form-summary__answer--compact dt {
    display: inline-block;
    padding-right: 0.5rem;
}
.navds-form-summary__answer--compact dt:after {
    content: ':';
}
.navds-form-summary__answer--compact dd {
    display: inline-block;
}
.navds-form-summary__answer--compact dd.fullWidth {
    display: block;
}

.summary-listItem-block {
    background-color: var(--a-surface-subtle);
    border-radius: var(--a-border-radius-large);
    padding: 0.5rem 0.75rem !important;
    list-style-position: inside;
}
.summary-listItem-block .navds-list__item-marker--bullet {
    display: none;
}
