body.sif-ds-theme {
    --navds-guide-panel-color-border: var(--navds-global-color-purple-300);
    --navds-guide-panel-color-illustration-background: var(--navds-global-color-purple-200);
}

.soknadHeader,
.decorator-utils-container {
    background-color: white;
}

.navds-label {
    line-height: var(--navds-font-line-height-xlarge) !important;
}

/** Skal flyttes/endres: */
.languageToggle__wrapper {
    min-width: 15rem;
}

.navds-fieldset__description > .expandableInfo:first-child {
    margin-top: 1rem;
}
