.block--s {
    margin-top: var(--navds-spacing-1);
}
.block--m {
    margin-top: var(--navds-spacing-2);
}
.block--l {
    margin-top: var(--navds-spacing-4);
}
.block--xl {
    margin-top: var(--navds-spacing-8);
}
.block--xxl {
    margin-top: var(--navds-spacing-12);
}
.block--xxxl {
    margin-top: var(--navds-spacing-16);
}
.block--bottom-s {
    padding-bottom: var(--navds-spacing-1);
}
.block--bottom-m {
    padding-bottom: var(--navds-spacing-2);
}
.block--bottom-l {
    padding-bottom: var(--navds-spacing-4);
}
.block--bottom-xl {
    padding-bottom: var(--navds-spacing-8);
}
.block--bottom-xxl {
    padding-bottom: var(--navds-spacing-12);
}
.block--bottom-xxxl {
    padding-bottom: var(--navds-spacing-16);
}
.block--textAlignCenter {
    text-align: center;
}
