.itemList {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
        padding: 0.5rem;
        border-bottom: 1px solid var(--a-border-divider);
        display: flex;
        align-items: center;
        &:first-child {
            border-top: 1px solid var(--a-border-divider);
        }
        &__icon {
            flex: 1 1 2rem;
        }
        &__label {
            flex: 2 1 100%;
        }
        &__delete {
            flex: 1 1 2rem;
        }
    }
}
