.responsivePanel.navds-panel {
    @mobile-breakpoint: 576px;
    @media screen and (max-width: @mobile-breakpoint) {
        padding: 0.5rem;
    }
    padding: 1.5rem;
    background-color: var(--ax-neutral-100);
    border: none;
    --ac-button-secondary-bg: white;
}
