.validationErrorSummary {
    background-color: #d05c4a;
    color: white;
    padding: 1.75rem;

    &:focus {
        box-shadow: 0 0 0 3px #00347d;
        outline: none;
    }

    &__list {
        line-height: 1.75rem;
    }

    &__link {
        color: white;
        &:hover,
        &--hover {
            border-bottom: 0;
        }
    }
}
