.daySelector {
    max-width: 30rem;
}
.daySelector .navds-date {
    padding: 0;
}
.daySelector .navds-date__caption {
    display: none;
}
.daySelector__hideWeekend .rdp-head .rdp-head_cell:nth-child(7),
.daySelector__hideWeekend .rdp-head .rdp-head_cell:nth-child(8),
.daySelector__hideWeekend .rdp-tbody .rdp-cell:nth-child(7),
.daySelector__hideWeekend .rdp-tbody .rdp-cell:nth-child(8) {
    display: none;
}

@media screen and (min-width: 560px) {
    .daySelector__calendarWrapper {
        background-color: var(--a-grayalpha-50);
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .daySelector__calendarWrapper .daySelector__month {
        background-color: white;
        border-radius: 0.5rem;
    }
}
