.daySelector {
    max-width: 30rem;
}
.daySelector .navds-date {
    padding: 0;
}
.daySelector .navds-date__caption {
    display: none;
}
.daySelector__hideWeekend .rdp-head .rdp-head_cell:nth-child(7),
.daySelector__hideWeekend .rdp-head .rdp-head_cell:nth-child(8),
.daySelector__hideWeekend .rdp-tbody .rdp-cell:nth-child(7),
.daySelector__hideWeekend .rdp-tbody .rdp-cell:nth-child(8) {
    display: none;
}

daySelectorHeader__count {
    display: inline-block;
    margin-left: 1rem;
}

.daySelectorHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.daySelectorHeader__title {
    min-width: 10rem;
}
