.confirmationPage {
    margin: 4rem auto 4rem;
}

.confirmationPage__centeredContent {
    text-align: center;
}

ul.checklist {
    margin: 1.5rem 0;
    padding: 0 0 0 1.5rem;
}

ul.checklist li {
    list-style: none;
    margin-bottom: 1.5rem;
}

@media (min-width: 769px) {
    ul.checklist li {
        padding-left: 3rem;
    }

    .skrivUtKnapp {
        margin-top: 3rem;
        margin-left: 6.5rem;
    }

    .kviteringsBlokk {
        margin-top: 1rem;
        margin-left: 6.5rem;
    }

    .infopanelInfoForsvinner {
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    ul.checklist li {
        padding-left: 1rem;
    }

    .skrivUtKnapp {
        text-align: center;
    }

    .kviteringsBlokk {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .infopanelInfoForsvinner {
        margin-left: 12px;
    }
}

.luftOver {
    margin-top: 1rem;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
    .kvittering-print-button {
        display: none;
    }
}

.tilArbeidsgiverPanel {
    margin-top: 3rem;
}
