name: SonarCloud app scan

on:
    workflow_call:
        inputs:
            app:
                description: "App-mappen under ./apps"
                required: true
                type: string
            working-directory:
                type: string
                required: true

permissions: {}

jobs:
    scan:
        runs-on: ubuntu-latest
        permissions:
            contents: read # required: actions/checkout
            id-token: none
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: SonarQube Scan
              uses: SonarSource/sonarqube-scan-action@v7
              with:
                  args: >
                      -Dproject.settings=${{ inputs.working-directory }}/sonar-project.properties
                      -Dsonar.projectBaseDir=${{ inputs.working-directory }}
                  #   -Dsonar.verbose=true
                  #   -Dsonar.log.level=DEBUG
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
