name: Deploy veilederapplication to dev

on:
  workflow_call: {}
  workflow_dispatch:
  push:
    branches:
      - "*-veilder-dev"

permissions: {}

env:
  APP_NAME: ungdomsytelse-veileder

jobs:
  deploy-to-dev:
    name: Deploy veilederapp to dev (${{github.ref_name}})
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required: nais/docker-build-push
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup .yarnrc.yml
        run: |
          yarn config set npmScopes.navikt.npmRegistryServer "https://npm.pkg.github.com"
          yarn config set npmScopes.navikt.npmAlwaysAuth true
          yarn config set npmScopes.navikt.npmAuthToken $NODE_AUTH_TOKEN
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn set version 4.x

      - name: Install dependencies (yarn)
        run: yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build application
        run: yarn turbo run build --filter=@navikt/${{ env.APP_NAME }}

      - name: Build and publish docker image
        uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: dusseldorf
          push_image: true
          pull: true
          dockerfile: apps-intern/${{env.APP_NAME}}/Dockerfile
          docker_context: .
          image_suffix: ${{env.APP_NAME}}-mono
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          build_secrets: |
            PACKAGES_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps-intern/${{ env.APP_NAME }}/nais/nais.yml
          VARS: apps-intern/${{ env.APP_NAME }}/nais/dev-gcp.json
          VAR: GITHUB_REF_NAME=${{ github.ref_name }} # brukes i applikasjonerna
          IMAGE: ${{ steps.docker-push.outputs.image }}
