name: Prod - deploy omsorgspengerutbetaling-arbeidstaker-soknad
run-name: Deploy omsorgspengerutbetaling-arbeidstaker-soknad to prod

on:
    push:
        branches:
            - main
        paths:
            - 'apps/omsorgspengerutbetaling-arbeidstaker-soknad/**/*'
            - 'server/**/*'
    workflow_dispatch:

jobs:
    run-tests:
        uses: ./.github/workflows/test.omsorgspengerutbetaling-arbeidstaker-soknad.yml
        secrets: inherit

    deploy-to-prod:
        name: Deploy omsorgspengerutbetaling-arbeidstaker-soknad to prod
        needs: [run-tests]
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-prod.yml@main
        secrets: inherit
        permissions:
            contents: write
            security-events: write
            id-token: write
            actions: read
        with:
            app-name: 'omsorgspengerutbetaling-arbeidstaker-soknad'
            working-directory: 'apps/omsorgspengerutbetaling-arbeidstaker-soknad'
