name: Prod - deploy omsorgspengesøknad
run-name: Deploy omsorgspengesøknad to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/omsorgspengesoknad/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "omsorgspengesoknad"
            working-directory: "apps/omsorgspengesoknad"
            package-name: "@navikt/omsorgspengesoknad"
