name: Deploy verifiseringsapps to dev
run-name: Deploy verifiseringsapps to dev (${{github.ref_name}})

on:
    workflow_dispatch:

jobs:
    deploy-endringsmelding-pleiepenger:
        name: Deploy endringsmelding-pleiepenger to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write
        with:
            app-name: "endringsmelding-pleiepenger"
            working-directory: "apps/endringsmelding-pleiepenger"

    deploy-omsorgspengesoknad:
        name: Deploy omsorgspengesoknad to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write
        with:
            app-name: "omsorgspengesoknad"
            working-directory: "apps/omsorgspengesoknad"

    deploy-pleiepenger-sykt-barn:
        name: Deploy pleiepenger-sykt-barn to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write
        with:
            app-name: "pleiepenger-sykt-barn"
            working-directory: "apps/pleiepenger-sykt-barn"

    deploy-ungdomsytelse-deltaker:
        name: Deploy ungdomsytelse-deltaker to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write
        with:
            app-name: "ungdomsytelse-deltaker"
            working-directory: "apps/ungdomsytelse-deltaker"

    deploy-ungdomsytelse-veileder:
        name: Deploy ungdomsytelse-veileder to dev
        uses: navikt/sif-brukerdialog/.github/workflows/deploy-veileder-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write

    deploy-dine-pleiepenger:
        name: Deploy dine pleiepenger to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write
        with:
            app-name: "dine pleiepenger"
            working-directory: "apps/dine-pleiepenger"
            is-next-app: true
