name: Prod - deploy ekstra-omsorgsdager-andre-forelder-ikke-tilsyn
run-name: Deploy ekstra-omsorgsdager-andre-forelder-ikke-tilsyn to prod

on:
    push:
        branches:
            - main
        paths:
            - 'apps/ekstra-omsorgsdager-andre-forelder-ikke-tilsyn/**/*'
    workflow_dispatch:

jobs:
    run-tests:
        uses: ./.github/workflows/test.ekstra-omsorgsdager-andre-forelder-ikke-tilsyn.yml
        secrets: inherit

    deploy-to-prod:
        name: Deploy ekstra-omsorgsdager-andre-forelder-ikke-tilsyn to prod
        needs: [run-tests]
        uses: ./.github/workflows/.deploy-app-to-prod.yml
        secrets: inherit
        permissions:
            contents: write
            security-events: write
            id-token: write
            actions: read
        with:
            app-name: 'ekstra-omsorgsdager-andre-forelder-ikke-tilsyn'
            working-directory: 'apps/ekstra-omsorgsdager-andre-forelder-ikke-tilsyn'
