name: Prod - deploy omsorgspengesøknad
run-name: Deploy omsorgspengesøknad to prod

on:
    push:
        branches:
            - main
        paths:
            - 'apps/omsorgspengesoknad/**/*'
    workflow_dispatch:

jobs:
    run-tests:
        uses: ./.github/workflows/test.omsorgspengesøknad.yml
        secrets: inherit

    deploy-to-prod:
        name: Deploy omsorgspengesøknad to prod
        needs: [run-tests]
        uses: ./.github/workflows/.deploy-app-to-prod.yml
        secrets: inherit
        permissions:
            contents: write
            security-events: write
            id-token: write
            actions: read
        with:
            app-name: 'omsorgspengesoknad'
            working-directory: 'apps/omsorgspengesoknad'
