name: Prod - deploy dine-pleiepenger
run-name: Deploy dine-pleiepenger to prod

on:
    push:
        branches:
            - main
        paths:
            - 'apps/dine-pleiepenger/**/*'
            - 'server/**/*'
    workflow_dispatch:

jobs:
    run-tests:
        uses: ./.github/workflows/test.dine-pleiepenger.yml
        secrets: inherit

    deploy-to-prod:
        name: Deploy dine-pleiepenger to prod
        needs: [run-tests]
        uses: ./.github/workflows/.deploy-app-to-prod.yml
        secrets: inherit
        permissions:
            contents: write
            security-events: write
            id-token: write
            actions: read
        with:
            app-name: 'dine-pleiepenger'
            working-directory: 'apps/dine-pleiepenger'
            is-next-app: true
