name: Prod - deploy pleiepenger-sykt-barn
run-name: Deploy pleiepenger-sykt-barn to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/pleiepenger-sykt-barn/**/*"
            - "server/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "pleiepenger-sykt-barn"
            working-directory: "apps/pleiepenger-sykt-barn"
            package-name: "@navikt/pleiepenger-sykt-barn"
            playwright-with-deps: true
