name: Prod - deploy omsorgspengerutbetaling-soknad
run-name: Deploy omsorgspengerutbetaling-soknad to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/omsorgspengerutbetaling-soknad/**/*"
            - "server/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "omsorgspengerutbetaling-soknad"
            working-directory: "apps/omsorgspengerutbetaling-soknad"
            package-name: "@navikt/omsorgspengerutbetaling-soknad"
