name: Prod - deploy pleiepenger-i-livets-sluttfase-soknad
run-name: Deploy pleiepenger-i-livets-sluttfase-soknad to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/pleiepenger-i-livets-sluttfase-soknad/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "pleiepenger-i-livets-sluttfase-soknad"
            working-directory: "apps/pleiepenger-i-livets-sluttfase-soknad"
            package-name: "@navikt/pleiepenger-i-livets-sluttfase-soknad"
