name: Prod - deploy omsorgsdager-aleneomsorg-dialog
run-name: Deploy omsorgsdager-aleneomsorg-dialog to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/omsorgsdager-aleneomsorg-dialog/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "omsorgsdager-aleneomsorg-dialog"
            working-directory: "apps/omsorgsdager-aleneomsorg-dialog"
            package-name: "@navikt/omsorgsdager-aleneomsorg-dialog"
