name: Prod - deploy omsorgsdager kalkulator
run-name: Deploy omsorgsdager kalkulator to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/omsorgsdager-kalkulator/**/*"
            - "server/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "omsorgsdager-kalkulator"
            working-directory: "apps/omsorgsdager-kalkulator"
            package-name: "@navikt/omsorgsdager-kalkulator"
            e2e-build-command: "build"
