name: Prod - deploy ungdomsytelse-veileder
run-name: Deploy ungdomsytelse-veileder to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/ungdomsytelse-veileder/**/*"
            - "server-ungdomsytelse-veileder/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "ungdomsytelse-veileder"
            working-directory: "apps/ungdomsytelse-veileder"
            package-name: "@navikt/ungdomsytelse-veileder"
            use-turbo-test: true
            e2e-build-command: "e2e:build"
            run-sonar: true
            is-intern-prod: true
