name: Prod - deploy omsorgspengesøknad
run-name: Deploy omsorgspengesøknad to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/omsorgspengesoknad/**/*"
            - "server/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "omsorgspengesoknad"
            working-directory: "apps/omsorgspengesoknad"
            package-name: "@navikt/omsorgspengesoknad"
