name: Prod - deploy ungdomsytelse-deltaker
run-name: Deploy ungdomsytelse-deltaker to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/ungdomsytelse-deltaker/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "ungdomsytelse-deltaker"
            working-directory: "apps/ungdomsytelse-deltaker"
            package-name: "@navikt/ungdomsytelse-deltaker"
            use-turbo-test: true
            e2e-build-command: "e2e:build"
            run-sonar: true
