name: Prod - deploy sif-ettersending
run-name: Deploy sif-ettersending to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/sif-ettersending/**/*"
            - "server/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "sif-ettersending"
            working-directory: "apps/sif-ettersending"
            package-name: "@navikt/sif-ettersending"
