name: Prod - deploy endringsmelding-pleiepenger
run-name: Deploy endringsmelding-pleiepenger to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/endringsmelding-pleiepenger/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "endringsmelding-pleiepenger"
            working-directory: "apps/endringsmelding-pleiepenger"
            package-name: "@navikt/endringsmelding-pleiepenger"
            playwright-with-deps: true
