name: Prod - deploy opplaringspenger-soknad
run-name: Deploy opplaringspenger-soknad to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/opplaringspenger-soknad/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "opplaringspenger-soknad"
            working-directory: "apps/opplaringspenger-soknad"
            package-name: "@navikt/opplaringspenger-soknad"
