name: Deploy dine pleiepenger to dev
run-name: Deploy dine pleiepenger to dev (${{github.ref_name}})

on:
    workflow_dispatch:

jobs:
    deploy-to-dev:
        name: Deploy dine pleiepenger to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            id-token: write
        with:
            app-name: "dine-pleiepenger"
            working-directory: "apps/dine pleiepenger"
            is-next-app: true
