name: Deploy alle søknader to dev
run-name: Deploy alle søknader to dev (${{github.ref_name}})

on:
    workflow_dispatch:

permissions: {}

jobs:
    deploy-endringsmelding-pleiepenger:
        name: Deploy endringsmelding-pleiepenger to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "endringsmelding-pleiepenger"
            working-directory: "apps/endringsmelding-pleiepenger"

    deploy-ekstra-omsorgsdager-andre-forelder-ikke-tilsyn:
        name: Deploy ekstra-omsorgsdager-andre-forelder-ikke-tilsyn to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "ekstra-omsorgsdager-andre-forelder-ikke-tilsyn"
            working-directory: "apps/ekstra-omsorgsdager-andre-forelder-ikke-tilsyn"

    deploy-omsorgspengesoknad:
        name: Deploy omsorgspengesoknad to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "omsorgspengesoknad"
            working-directory: "apps/omsorgspengesoknad"

    deploy-omsorgsdager-aleneomsorg-dialog:
        name: Deploy omsorgsdager-aleneomsorg-dialog to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "omsorgsdager-aleneomsorg-dialog"
            working-directory: "apps/omsorgsdager-aleneomsorg-dialog"

    deploy-omsorgspengerutbetaling-soknad:
        name: Deploy omsorgspengerutbetaling-soknad to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "omsorgspengerutbetaling-soknad"
            working-directory: "apps/omsorgspengerutbetaling-soknad"

    deploy-omsorgspengerutbetaling-arbeidstaker-soknad:
        name: Deploy omsorgspengerutbetaling-arbeidstaker-soknad to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "omsorgspengerutbetaling-arbeidstaker-soknad"
            working-directory: "apps/omsorgspengerutbetaling-arbeidstaker-soknad"

    deploy-pleiepenger-i-livets-sluttfase-soknad:
        name: Deploy pleiepenger-i-livets-sluttfase-soknad to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "pleiepenger-i-livets-sluttfase-soknad"
            working-directory: "apps/pleiepenger-i-livets-sluttfase-soknad"

    deploy-pleiepenger-sykt-barn:
        name: Deploy pleiepenger-sykt-barn to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "pleiepenger-sykt-barn"
            working-directory: "apps/pleiepenger-sykt-barn"

    deploy-sif-ettersending:
        name: Deploy sif-ettersending to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "sif-ettersending"
            working-directory: "apps/sif-ettersending"

    deploy-opplaringspenger-soknad:
        name: Deploy opplaringspenger-soknad to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "opplaringspenger-soknad"
            working-directory: "apps/opplaringspenger-soknad"

    deploy-dine-pleiepenger:
        name: Deploy dine pleiepenger to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "dine-pleiepenger"
            working-directory: "apps/dine-pleiepenger"
            is-next-app: true

    deploy-omsorgsdager-kalkulator:
        name: Deploy omsorgsdager-kalkulator to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "omsorgsdager-kalkulator"
            working-directory: "apps/omsorgsdager-kalkulator"

    deploy-ungdomsytelse-deltaker:
        name: Deploy ungdomsytelse-deltaker to dev
        uses: navikt/sif-brukerdialog/.github/workflows/.deploy-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
        with:
            app-name: "ungdomsytelse-deltaker"
            working-directory: "apps/ungdomsytelse-deltaker"

    deploy-ungdomsytelse-veileder:
        name: Deploy ungdomsytelse-veileder to dev
        uses: navikt/sif-brukerdialog/.github/workflows/deploy-veileder-app-to-dev.yml@main
        secrets: inherit
        permissions:
            contents: read
            id-token: write
