name: Prod - deploy dine-pleiepenger
run-name: Deploy dine-pleiepenger to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/dine-pleiepenger/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "dine-pleiepenger"
            working-directory: "apps/dine-pleiepenger"
            package-name: "@navikt/dine-pleiepenger"
            is-next-app: true
            needs-env-file: true
