name: Prod - deploy endringsmelding-pleiepenger
run-name: Deploy endringsmelding-pleiepenger to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/endringsmelding-pleiepenger/**/*"
            - "server/**/*"
    workflow_dispatch:

jobs:
    deploy:
        uses: ./.github/workflows/.deploy-and-test-to-prod.yml
        secrets: inherit
        with:
            app-name: "endringsmelding-pleiepenger"
            working-directory: "apps/endringsmelding-pleiepenger"
            package-name: "@navikt/endringsmelding-pleiepenger"
            playwright-with-deps: true
