name: Prod - deploy sif-ettersending
run-name: Deploy sif-ettersending to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/sif-ettersending/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "sif-ettersending"
            working-directory: "apps/sif-ettersending"
            package-name: "@navikt/sif-ettersending"
