name: Prod - deploy omsorgspengerutbetaling-soknad
run-name: Deploy omsorgspengerutbetaling-soknad to prod

on:
    push:
        branches:
            - main
        paths:
            - "apps/omsorgspengerutbetaling-soknad/**/*"
            - "server/**/*"
    workflow_dispatch:

permissions:
    contents: write
    security-events: write
    id-token: write
    actions: read

jobs:
    deploy:
        uses: ./.github/workflows/.test-and-deploy-to-prod.yml
        secrets: inherit
        with:
            app-name: "omsorgspengerutbetaling-soknad"
            working-directory: "apps/omsorgspengerutbetaling-soknad"
            package-name: "@navikt/omsorgspengerutbetaling-soknad"
