# This workflow trigger on push to apps/dine-pleiepenger
name: test.dine-pleiepenger
on:
    push:
        branches-ignore:
            - 'main'
        paths:
            - 'apps/dine-pleiepenger/**/*'
            - 'nais-config/**/*'
            - 'packages/**/*'
            - .github/workflows/app.dine-pleiepenger.yml
            - .github/workflows/test.dine-pleiepenger.yml
            - yarn.lock
    workflow_call:

env:
    APP_NAME: 'dine-pleiepenger'

jobs:
    run-script-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup .yarnrc.yml
              run: |
                  yarn config set npmScopes.navikt.npmRegistryServer "https://npm.pkg.github.com"
                  yarn config set npmScopes.navikt.npmAlwaysAuth true
                  yarn config set npmScopes.navikt.npmAuthToken $NODE_AUTH_TOKEN
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: 'yarn'

            - name: Install dependencies (yarn)
              run: yarn

            - name: Run code tests
              run: yarn test --filter=@navikt/dine-pleiepenger

    run-playwright-test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup .yarnrc.yml
              run: |
                  yarn config set npmScopes.navikt.npmRegistryServer "https://npm.pkg.github.com"
                  yarn config set npmScopes.navikt.npmAlwaysAuth true
                  yarn config set npmScopes.navikt.npmAuthToken $NODE_AUTH_TOKEN
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn

            - name: Install Playwright Browsers
              run: npx playwright install chromium

            - name: Copy .env.dev for next.js build
              shell: bash
              run: |
                  echo "Copying .env.dev to app root"
                  cp apps/dine-pleiepenger/nais/envs/.env.dev apps/dine-pleiepenger/.env.production

            - name: Run tests
              run: yarn turbo playwright-test --filter=@navikt/dine-pleiepenger
