.opptjeningIUtlandetSummaryItem {
    display: flex;
    flex-wrap: wrap;
}

.opptjeningIUtlandetSummaryItem__dates {
    padding-right: 0.3rem;
}

.opptjeningIUtlandetSummaryItem__dates::after {
    content: ':';
}
